/* App.css */
.click-game {
	text-align: center;
	margin-top: 50px;
}

button {
	padding: 15px 25px;
	background: #9b59b6;
	color: white;
	border: 2px solid #ecf0f1;
	outline: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 18px;
	margin-top: 20px;
}

button:disabled {
	background: #bdc3c7;
	cursor: not-allowed;
}
